.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.modalOverlay.active {
    opacity: 1;
    visibility: visible;
}

.modalContent {
    background: #fff;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.modalOverlay.active .modalContent {
    transform: translateY(0);
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: #d9534f;
}

/* Поля форми */
.formGroup {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.formGroup input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.formGroup input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.submitButton {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


