.profileDetails {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
}

.profileDetails h2 {
    margin-top: 0;
    font-size: 20px;
}

.profileDetails hr {
    border: none;
    border-top: 2px solid #ddd;
    margin: 10px 0 20px;
}

.profileRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profileItem {
    flex: 0 0 45%;
}

.profileItem .label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.profileItem .value {
    font-size: 16px;
    font-weight: bold;
    color: #837f7fc0;
    margin: 0;
}