/* GallerySchool.module.css */

.galleryTitle {
    font-size: 48px;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

.galleryComponent {
    padding: 30px 20px;
    background-color: #fff3f3;
    border-radius: 25px;
    width: 95%;
    max-width: 1350px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adminControls {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

.galleryList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
    height: 200px;
    gap: 16px;
    transition: 1s;
}

.galleryItem {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: flex 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.galleryPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryList:hover {
    gap: 0px;
}

.galleryItem:hover {
    flex: 0 1 300px;
    transform: scale(1.1);
    z-index: 10;
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
