.gallery {
    padding: 30px 20px;
    background: linear-gradient(135deg, #ffecd2, #fcb69f);
    text-align: center;
    border-radius: 10px;
}

.gallery h2 {
    font-size: 32px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

.gallery-component{
    width: 100%;
}

.gallery-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.gallery-slider {
    padding: 25px;
    display: flex;
    overflow-x: auto; 
    gap: 20px; 
    scroll-behavior: smooth;
}

.gallery-slider::-webkit-scrollbar {
    display: none; 
}

.gallery-photo {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease, box-shadow 0.3s ease;
}

.gallery-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.scroll-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    font-size: 24px; 
    cursor: pointer;
    z-index: 10;
    transition: background-color 1s;
}

.scroll-button.left {
    left: -25px; 
}

.scroll-button.right {
    right: -25px; 
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}
