/* Вступна частина */
.about {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.about h1 {
    font-size: 63px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about p {
    font-size: 24px;
    text-indent: 25px;
    margin-bottom: 20px;
    text-align: justify;
}