.modalOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.weblogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.LogoTitleContainer {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authModal {
    background-color: rgba(255, 250, 236, 0.8);
    padding: 40px;
    margin: auto;
    width: 100vh;
    max-width: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
}

.schoolText {
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-shadow: 0 3px 6px rgb(0, 0, 0, 0.75);
}

.hubText {
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 149, 0);
    text-shadow: 0 3px 6px rgb(255, 149, 0, 0.75);
}

.closeModalBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.closeModalBtn:hover {
    color: #ff0202;
    background: none;
}

.closeModalBtn:focus {
    color: #ff0202;
    background: none;
}

.authForm {
    margin: 10% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.authForm input,
.authForm select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.authForm select option {
    width: 10%;
    display: flex;
}

.submitButton {
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 30px;
    background-color: #6f6f6f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #555;
}

.rememberMeContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rememberMeContainer input {
    margin-right: 10px;
    width: 15px;
    cursor: pointer;
}

.rememberMeContainer label {
    transform: translateY(10%);
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    color: #555;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.passwordContainer input {
    width: 100%;
    padding-right: 40px;
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #6f6f6f;
    padding: 0;
    appearance: none;
    outline: none;
}

.showPasswordButton:hover {
    background: none;
}

.showPasswordButton:focus {
    outline: none;
}

.bn632-hover {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px 0px;
    height: 50px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
}

.bn632-hover:focus {
    outline: none;
}

.bn25 {
    user-select: none;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.regselector {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.regselector:focus {
    outline: none;
}

.customSchoolDescription {
    width: 100%;
    min-height: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
