.features {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 10px;
    position: relative;
}

.features .for-teachers,
.features .for-students {
    margin-top: 20px;
}

.features h3 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
}

.features a {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.features a.active {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.25s ease;
}

.features description {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
}

.features description.visible {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    margin-top: 10px;
}

.features .teachers-description,
.features .students-description {
    margin-top: 10px;
}
