.features {
    padding: 2% 25%;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
}

.features h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.linksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    color: #111;
}

.headerLink {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #111;
}

.headerLink:hover {
    background-color: rgba(0, 150, 255, 0.2); 
    border-color: #0096ff; 
}

.headerLink.active {
    background-color: rgba(0, 255, 0, 0.3);
    border-color: #008000;
}

.description {
    text-align: left;
    margin-top: 15px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.description.visible {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    padding: 10px;
    background: #f8f8f8;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  