header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 20px 40px;
    animation: fadeIn 1s ease-in-out;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .schoolText {
    color: black; 
    text-shadow:0 3px 6px rgb(0, 0, 0, 0.75);
  }
  
  .hubText {
    color: rgb(255, 149, 0); 
    text-shadow:0 3px 6px rgb(255, 149, 0, 0.75);
  }
  
  .logoImage {
    margin-left: 10px; 
    position: relative;
    width: 60px;
    height: 45px;
  }

.navHome {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    gap: 15vh;
    justify-content: left; 
    margin: 0 62px;
}

.headerLink {
    margin: 0;
    position: relative;
    text-decoration: none;
    color: #555;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 5px 0;
    transition: color 1.5s ease, opacity 1.5s ease;
}

.headerLink:hover {
    color: #000;
}

.headerLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 1s ease;
}

.headerLink:hover::after {
    width: 100%;
}

.navHome:hover > :not(:hover){
    opacity: 0.3;
}

.bn632-hover {
    width: 20%;
    max-width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn25 {
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  