.assignmentList {
    list-style: none;
}

.iconBtn {
    background: none;
    opacity: 0.7;
}

.iconBtn:hover {
    opacity: 1;
}

.h {
    font-size: 32px;
}
.counts {
    font-size: 20px;
}

.assignmentList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 28px;
    font-weight: normal;
}
