.courses {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    color: #000000;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
}
