.courses {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
  color: #000000;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.courseItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #69a5ff;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item:hover {
  color: #0056b3;
}

.icon {
  width: 19px;
  height: 19px;
  transform: rotate(90deg);
  fill: #000000;
  transition: transform 0.3s ease;
}

.iconDown {
  transform: rotate(180deg);
}

.themes {
  margin-left: 20px;
  padding: 10px 0;
}

.themesList {
  list-style: none;
  margin: 0;
  padding: 0;
    
}

.themeItem {
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  transition:  background-color 1s ease;
}

.themeItem:hover {
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.themeItem.selected {
  background-color: #b3d9ff; 
  border: 2px solid #4a90e2; 
  border-radius: 10px;
}

.themeItem.selected:hover {
  background-color: #99cfff; /* Наприклад, світліший колір */
}


.themeDetails {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-left: 4px solid #4caf50;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.themeDetails p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.6;
}


.themeDetails ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.themeDetails ul li {
  margin: 5px 0;
}

.themeDetails ul li a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.themeDetails ul li a:hover {
  text-decoration: underline;
}

/* Додатковий стиль для заголовків */
.themesTitle {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}


.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.button {
  margin-top: 15px;  
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffe0e0;
  background-color: #524b46;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease;
}

.button:hover {
  background-color: black;
  transform: scale(1.05);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #ff7875;
}

.editButton {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #45a049;
}

.saveButton,
.cancelButton {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton {
  background-color: #4caf50;
  color: white;
}

.saveButton:hover {
  background-color: #45a049;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.cancelButton:hover {
  background-color: #e57373;
}
