.courses {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
  color: #000000;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.courseItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #69a5ff;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item:hover {
  color: #0056b3;
}

.icon {
  width: 19px;
  height: 19px;
  transform: rotate(90deg);
  fill: #000000;
  transition: transform 0.3s ease;
}

.iconDown {
  transform: rotate(180deg);
}

.themes {
  margin-left: 20px;
  padding: 10px 0;
}

.themesTitle {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px;
}

.themesList {
  list-style: none;
  padding-left: 0;
}

.themeItem {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.button {
  margin-top: 15px;  
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffe0e0;
  background-color: #524b46;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease;
}

.button:hover {
  background-color: black;
  transform: scale(1.05);
}
